<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galería
    </ion-title>
  </ion-toolbar>
  <!-- buscador -->
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar" animated (keyup)="searchBeer($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Galería</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>

          <ng-container *ngIf="filteredBeerList.length !== 0;else divLoading">
            <ion-item *ngFor="let beer of filteredBeerList">
              <ion-thumbnail slot="start">
                <img alt="Foto cerveza" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
              </ion-thumbnail>
              <ion-label>{{beer.name}}</ion-label>
              <ion-button fill="clear" [routerLink]="['/', beer.id]">Ver</ion-button>
            </ion-item>
          </ng-container>


        </ion-list>
      </ion-card-content>
    </ion-card>

    <ng-template #divLoading>
      <ion-item>
        <ion-spinner name="lines"></ion-spinner>
        <ion-label>No hay ninguna cerveza para mostrar</ion-label>
      </ion-item>
    </ng-template>

  </ion-content>
